<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>frigga</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>

<body>
    <header>
        <h1>frigga</h1>
    </header>
    <main>
        <article>
            <section>
                <div>
                    <label for="prom_url">Prometheus URL</label>
                    <input id="prom_url" type="text" value="http://prometheus:9090" />
                </div>
                <div>
                    <label for="raw">Return raw data</label>
                    <input id="raw" type="text" value="true" />
                </div>
            </section>
            <section>
                <h2>Total number of metrics</h2>
                <colgroup>
                    <col>
                    <input id="prometheus_get" type="button" onclick="getMetrics()" value="Get" />
                    </col>
                    <col>
                    <label for="total_num_metrics">Total number of metrics:</label>
                    <span id="total_num_metrics"></span>
                    </col>
                </colgroup>
            </section>
        </article>
    </main>
    <footer>
        <section>
            <h3>References</h3>
            <a href="https://github.com/unfor19/friggahttps://github.com/unfor19/frigga">GitHub</a>
        </section>
    </footer>
    <script type="text/javascript">
        frigga_url = "http://localhost:8083";
        function getMetrics() {
            var prom_url = document.getElementById("prom_url").value;
            var raw = document.getElementById("raw").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    document.getElementById("total_num_metrics").innerHTML = xhttp.responseText;
                } else {
                    document.getElementById("total_num_metrics").innerHTML = xhttp.statusText;
                }
            };
            var query_params = "prom_url=" + prom_url + "&raw=" + raw;
            query_params = query_params.replace("%2F", "/");
            xhttp.open("GET", frigga_url + "/prometheus/get?" + query_params, true);
            xhttp.send();

        }
    </script>
</body>

</html>